body {
	background-color: black;

}

#wrapper {
width: 103%;
height: 100%;
max-width: 1400px;
margin-top: -8px;
margin-left: -16px;

}

#header {
	display: block;
	height: 50px;
	width: auto;
	background-color: #767272;
	
}

#screen {

}

.background {
	width: 100%;
	height: 100%;
	
}

#footer {
	display: block;
	height: auto;
	width: auto;
	max-height: 270px;
	min-height: 150px;
	background-color: #A7B1A1;

}

.foottext {
	color: white;
}

@media screen and (min-width: 370px) and (max-width: 650px) {
#wrapper {
width: 100%;
height: 100%;
max-width: 500px;
max-width: 630px;
}

#screen {
	max-height: 700px;
	max-width: 800px;
	overflow: hidden;
}

.background {
	width: auto;
	height: 410px;
	max-width: 800px;
}

}