body {
	background-color: black;

}

#wrapper {
width: 103%;
height: 100%;
max-width: 1500px;
margin-top: -8px;
margin-left: -16px;

}

#header {
	display: block;
	height: 55px;
	width: auto;
	background-color: #767272;
	
}

#screen {

}

.background {
	width: 100%;
	height: 100%;
	
}

#footer {
	display: block;
	height: auto;
	width: auto;
	max-height: 250px;
	min-height: 150px;
	background-color: #A7B1A1;
	margin-top: -40px;

}

#forms {
	margin-left: 200px;
	margin-right: 200px;
	
}

.formone {
  	float: left;
	margin-left: 50px;
}


.foottext {
	color: white;
}



@media screen and (min-width: 370px) and (max-width: 650px) {
#wrapper {
width: 100%;
height: 100%;
max-width: 500px;
max-width: 630px;
}

#screen {
	max-height: 700px;
	max-width: 800px;
	overflow: hidden;
}

.background {
	width: auto;
	height: 410px;
	max-width: 800px;
}

}

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600);

.lb {
	width: auto;
	height: 170px;
	position: absolute;
    zIndex: 1000;
    margin-top: -180px;

}

.controls {
	width: auto;
	height: auto;
	max-height: 75px;
	margin-top: 35px;
	margin-left: 50px;
	margin-right: 100px;

}

.logo1 {
	width: auto;
	height: auto;
	max-height: 50px;
	float: left;
	margin-left: 25px;
	margin-top: 40px;
}

.right {
	float: left;
	margin-top: 100px;
	margin-left: -162px;
}

.pause {
	width: auto;
	height: 50px;
	float: right;
	margin-right: 100px;
	margin-top: -30px;
}

.exit {
	width: auto;
	height: 50px;
	float: right;
	margin-right: -120px;
	margin-top: -30px;
}



.slime {
	width: auto;
	height: 25px;
	position: absolute;
    zIndex: 1000;
    margin-top: -50px;

}

.text {
	margin-top: 10px;
	align-items: center;
	padding-top: 15px;
	color: #B7FF91;
	font-family:"Open Sans", Helvetica, Arial, sans-serif;
  	font-weight:500;
  	font-size: 20px;
}

h3 {
	margin-top: 10px;
	align-items: center;
	padding-top: 15px;
	color: #B7FF91;
	font-family:"Open Sans", Helvetica, Arial, sans-serif;
  	font-weight:500;
  	font-size: 20px;
}

.welcome {
	width: auto;
	height: 350px;
	position: absolute;
    zIndex: 1000;
    margin-top: 110px;
}

.levelone {
	margin-right: 500px;
}